<div class="chat-face-list-container">
  <div class="chat-face-list-heading">
    Chats
  </div>
  <div class="chat-face-list-content">
    <app-chat-face username="mvujas"></app-chat-face>
    <app-chat-face username="mvujas"></app-chat-face>
    <app-chat-face username="mvujas"></app-chat-face>
    <app-chat-face username="mvujas"></app-chat-face>
    <app-chat-face username="mvujas"></app-chat-face>
    <app-chat-face username="mvujas"></app-chat-face>
    <app-chat-face username="mvujas"></app-chat-face>
    <app-chat-face username="mvujas"></app-chat-face>
    <app-chat-face username="mvujas"></app-chat-face>
    <app-chat-face username="mvujas"></app-chat-face>
    <app-chat-face username="mvujas"></app-chat-face>
    <app-chat-face username="mvujas"></app-chat-face>
    <app-chat-face [isLastChild]="true" username="mvujas"></app-chat-face>
  </div>
</div>



