// ==================| FOOTER-INFO |==================
$footer-info-background-contrast-color: #363030;
$footer-info-background-image: #757780;//url('/assets/img/noisy-footer-texture.png');

// ==================| FOOTER-AUTHOR |==================
$footer-author-text-color: black;
$footer-author-background-image: url('/assets/img/footer-background_1.jpg');