.sharp-edges {
    border-radius: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.center-justified {
    text-align: justify;
    text-align-last: center;
}

a.reset-link-style {
  text-decoration: none;
  color: inherit;
}