.message-row {
    box-sizing: border-box;
    padding: 5px;

    &.received-message {
        text-align: left;
        
        .sending-time {
            margin-left: 10px;
        }

        .message {
            background: #eee;
        }
    }

    &.sent-message {
        text-align: right;
        
        .sending-time {
            margin-right: 10px;
        }

        .message {
            background: lightblue;
        }
    }

    .sending-time {
        font-size: 0.6em;
        clear: both;
        display: block;
        color: #555;
    }
}

.message {
    min-width: 50%;
    max-width: 80%;
    display: inline-block;
    clear: both;
    border-radius: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
}