<div class="container">

  <ng-container *ngIf="user !== null || userLoadingFailure; else loader">

    <ng-container *ngIf="!userLoadingFailure; else failedToLoadUser">
      <h1>{{ user.username }}</h1>

      <p>Rating: <app-rating-display [rating]="user.avgGrade"></app-rating-display></p>

      <p>Email: {{ user.email }}</p>

      <button 
        *ngIf="userDetails != null && userDetails.username != user.username"
        class="btn btn-primary" 
        (click)="openChatWithUser(user.username)">
        Open chat</button>

      <h2>Auctions</h2>

      <div class="row" *ngIf="items != null">

        <app-list-item 
          class="col col-12 col-lg-4 col-xl-3 col-sm-6" 
          *ngFor="let item of items.content"
          [item]="item"
        ></app-list-item>

      </div>
    </ng-container>

    <ng-template #failedToLoadUser>
      <div class="loading-error-message">
        There was an error trying to load data
      </div>
    </ng-template>

  </ng-container>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>