<div class="container">
  <div id="login-page-view-container" class="row">
    <div class="col col-xl-4 col-md-7 col-sm-12 col-xs-12 col-centered text-center">
      <!-- TODO: Fix color scheme -->
      
      <h2>Register</h2>
      <p class="center-justified">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint hic itaque, officia nihil ad facere iste possimus aliquam perspiciatis quisquam, quibusdam in corporis libero, deleniti voluptatum quia dicta nam mollitia.

        <!--You're just one step away from getting access to thousands of auctions-->
      </p> 

      <ngb-alert *ngIf="alert != null" [type]="alert.type" (click)="closeAlert()">
        {{ alert.message }}
      </ngb-alert>

      <form [formGroup]="registrationForm" (ngSubmit)="attemptRegistration()" autocomplete="off">

        <div class="input-group">
          <app-fancy-input-with-underline
            class="w-100" 
            type="text" 
            placeholder="Username"
            activeColor="#98ce00"
            formControlName="username">
          </app-fancy-input-with-underline>
          <div class="errors" *ngIf="submitted && f.username.errors as e">
            <p class="input-validation-error" *ngIf="e.required">Username is required</p>
            <p class="input-validation-error" *ngIf="e.minlength || e.maxlength">Username must be between 4 and 32 characters long</p>
            <p class="input-validation-error" *ngIf="e.pattern">Username can have only numbers and digits</p>
          </div>
        </div>

        <div class="input-group">
          <app-fancy-input-with-underline 
            class="w-100"
            type="email" 
            placeholder="E-mail"
            activeColor="#98ce00"
            formControlName="email">
          </app-fancy-input-with-underline>
          <div class="errors" *ngIf="submitted && f.email.errors as e">
            <p class="input-validation-error" *ngIf="e.required">Email is required</p>
            <p class="input-validation-error" *ngIf="e.email">Invalid email format</p>
          </div>
        </div>

        <div class="input-group">
          <app-fancy-input-with-underline 
            class="w-100"
            type="password" 
            placeholder="Password"
            activeColor="#98ce00"
            formControlName="password">
          </app-fancy-input-with-underline>
          <div class="errors" *ngIf="submitted && f.password.errors as e">
            <p class="input-validation-error" *ngIf="e.required">Password is required</p>
            <p class="input-validation-error" *ngIf="e.minlength">Password must be at least 8 characters long</p>
            <p class="input-validation-error" *ngIf="e.noSmallLetter">Password must contain a small letter</p>
            <p class="input-validation-error" *ngIf="e.noLargeLetter">Password must contain a large letter</p>
            <p class="input-validation-error" *ngIf="e.noDigit">Password must contain a digit</p>
            <p class="input-validation-error" *ngIf="e.whitespaces">Password cannot contain white spaces</p>
          </div>
        </div>

        <div class="input-group">
          <app-fancy-input-with-underline 
            class="w-100"
            type="password" 
            placeholder="Confirm password"
            activeColor="#98ce00"
            formControlName="confirmPassword">
          </app-fancy-input-with-underline>
          <div class="errors" *ngIf="submitted && f.confirmPassword.errors as e">
            <p class="input-validation-error" *ngIf="e.required">Confirming password is required</p>
            <p class="input-validation-error" *ngIf="e.mustMatch">Passwords do not match</p>
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Sign up</button>
      </form>
      <ul class="under-form-links">
        <li>Already have an account? <a routerLink="/auth/login">Sign in</a></li>
      </ul>
    </div>
  </div>
</div>