<ng-container *ngIf="item != null">
  <div class="item-item">
    <a [routerLink]="[ '/items', item.id ]" class="reset-link-style">
      <div class="item-image-container">
        <div class="inner-image-div"></div>
        <div class="hover-panel"></div>
      </div>
      
      <p class="item-heading">{{ item.name }}</p>
    </a>

    <p class="item-info">
      Author: <a [routerLink]="[ '/user', item.author.username ]" class="reset-link-style">{{ item.author.username }}</a>
      <br>
      Category: {{ item.category.name }}
      <br>
      Posting date: {{ item.postingTime | date: 'short' }}
      <br>
      Number of bids: {{ item.numberOfBids }}
    </p>
    
    <p class="item-price">{{ item.price | currency: 'EUR' }}</p>
  </div>
</ng-container>