<ng-container *ngIf="item != null">
  <a href="https://google.rs" class="reset-link-style">
    <div class="item-item">
      <div class="item-image-container">
        <div class="inner-image-div"></div>
        <div class="hover-panel"></div>
      </div>
      
      <p class="item-heading">{{ item.name }}</p>
      
      <p class="item-info">
        Author: {{ item.author.username }}
        <br>
        Category: {{ item.category.name }}
        <br>
        Posting date: 16/01/2020
        <br>
        Number of bids: 12
      </p>
      
      <p class="item-price">{{ 200 | currency }}</p>
    </div>
  </a>
</ng-container>