<div class="container">
  <h1>Ongoing auctions</h1>
  <div class="row all-items-ads-list">
    <div class="col col-12 col-lg-4 col-xl-3">
      <div class="sticky-search">
        <app-item-list-filter #itemSearchFilter></app-item-list-filter>
      </div>
    </div>
  
    <div class="col col-12 col-lg-8 col-xl-9">

      <!--<div class="text-center" style="padding: 50px 0;" #loader>
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>-->
      
      
      <div class="row" *ngIf="itemsPage != null; else loader">
        
        <app-list-item 
          class="col col-12 col-lg-4 col-xl-3 col-sm-6" 
          *ngFor="let item of itemsPage.content"
          [item]="item"
        ></app-list-item>

      </div>

      <ng-template #loader>
        <div class="text-center" style="padding: 50px 0;">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
      
    </div>
  </div>
</div>