<div class="important-info">
  <div class="container">

    <!--
      <div class="social-networks">
        <p>Find us on social medias</p>
        <div class="socials">
          <a href="https://github.com/mvujas/nightmare-auctions" target="_blank"><span class="social github"></span></a>
        </div>
      </div>
    -->
    <div class="top-button-footer-container">
      <i class="material-icons" id="scroll-top-button-footer">arrow_upward</i>
    </div>
    <div class="row footer-links same-height-row">
      <div class="col col-12 col-md-6 col-lg-3">
        <p class="heading">Author</p>
        <ul class="footer-link-list">
          <li><a href="https://mvujas.github.io" target="_blank">Miloš Vujasinović</a></li>
          <li><a href="https://www.pmf.uns.ac.rs/en/" target="_blank">Faculty Of Sciences</a></li>
          <li><a href="http://www.uns.ac.rs/index.php/en/" target="_blank">University of Novi Sad</a></li>
        </ul>
      </div>
      <div class="col col-12 col-md-6 col-lg-3">
        <p class="heading">Technologies used</p>
        <ul class="footer-link-list">
          <li><a href="https://spring.io/" target="_blank">Spring</a></li>
          <li><a href="https://angular.io/" target="_blank">Angular</a></li>
          <li><a href="https://sass-lang.com/" target="_blank">Sass</a></li>
        </ul>
      </div>
      <div class="col col-12 col-lg-6">
        <p class="heading">News letter</p>

        <div id="newsletter-container">
          <p class="text-justify">
            Our surveys has shown that 90% of our most successful users are up-to-date with latest features and news.
            <br><br>
            Sign up for our news letter and increase your chances of success now:
          </p>
  
          <form>
            <div class="flex-group">
                <!-- The input is pretty buggy and it can't be set at height 100%
                  unless the height of the div is set manually (if it is shorter than the button), 
                  I gave up on this after hours of trying. If you are ready for 
                  a challenge there's this one :) -->
                <app-fancy-input type="email" placeholder="E-mail" name="newsletteremail"></app-fancy-input>
                <button class="btn btn-primary sharp-edges">Click me</button>
            </div>
            
          </form>
          <!-- It has yet to be decided whether the form and the text above will disappear 
              when the user has subscribed to the newsletter -->
          <small style="color: #98ce00">You have successfully subscribed to our newsletter!</small>
        </div>
        

        <div class="social-networks">
          <div class="socials text-center">
            <a href="https://github.com/mvujas/nightmare-auctions" target="_blank"><span class="social github"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-signature">
  <div class="container">
    <div class="footer-signature-container">
      <p class="author-note">CRAFTED WITH &#10084; BY NIGHTMARE PSEUDOSTUDIOS</p>
      <hr>
      <p class="distribution-note">THE CODE OF THE SOFTWARE IS OPEN AND FREE FOR PERSONAL USE</p>
    </div>
  </div>
</div>