<div class="container">

  <ng-container *ngIf="item !== null || itemLoadingFailure; else loader">

    <ng-container *ngIf="!itemLoadingFailure; else failedToLoadItem">

      <h1>{{ item.name }}</h1>

      <p>
        Author: <a [routerLink]="[ '/user', item.author.username ]" class="reset-link-style">{{ item.author.username }}</a>
        <app-rating-display [rating]="item.author.avgGrade"></app-rating-display>
      </p>
      <p>Posting date: {{ item.postingTime | date: 'short' }}</p>
      <p>Category: {{ item.category.name }}</p>
      <p>Price: {{ item.price | currency: 'EUR' }}</p>
      <p>Number of bids: {{ item.numberOfBids }}</p>
      <p>Details: <br> {{ item.details }}</p>

      <ng-container *ngIf="!item.over && currentUser != null">
        <ngb-alert *ngIf="alert != null" [type]="alert.type" (click)="closeAlert()">
          {{ alert.message }}
        </ngb-alert>

        <ng-container *ngIf="currentUser.username != item.author.username; else notAuthor">
          <form [formGroup]="bidForm" (ngSubmit)="handleBidFormSubmit()">
            <div class="form-group">
              <label for="bid-form-price-input">Bid price</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">€</div>
                </div>
                <input type="number" formControlName="price" id="bid-form-price-input" class="form-control" placeholder="Enter bid price">
              </div>
              
              <ng-container *ngIf="bidFormSubmitted && bidForm.controls.price.errors as e">
                <small class="form-text text-danger" *ngIf="e.required">Bid price is required</small>
                <small class="form-text text-danger" *ngIf="e.min">Bid price must be at least $1 higher than current item price</small>
              </ng-container>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit your bid</button>
          </form>
        </ng-container>

        <ng-template #notAuthor>
          <button class="btn btn-primary" (click)="endAuction()">End auction</button>
        </ng-template>

      </ng-container>

      <h2>Bids</h2>

      <ul>
        <li *ngFor="let bid of item.bids">{{ bid.author.username }} ({{ bid.postingTime | date: 'short' }}) - {{ bid.price | currency: 'EUR' }}</li>
      </ul>

    </ng-container>

    <ng-template #failedToLoadItem>
      <div class="loading-error-message">
        There was an error trying to load data
      </div>
    </ng-template>

  </ng-container>


  <ng-template #loader>
    <div class="text-center loader-container">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
