<div class="item-search">
  <div class="item-search-heading">
    Search filters
  </div>
  <div class="item-search-body">
    <form [formGroup]="filterForm" (ngSubmit)="handleSearch()">
      <div class="row no-margin">

        <div class="col col-12 no-padding">
          <label for="searchName">Name</label><br>
          <input type="text" class="form-control" formControlName="name" id="searchName">
        </div>

        <div class="col col-12 no-padding">
          <label for="searchCategory">Category</label><br>
          <select class="form-control" formControlName="category" id="searchCategory">
            <option value="" selected>All</option>

            <option *ngFor="let category of categories$" value="{{ category.name }}">
              {{ category.name }}
            </option>
          </select>
        </div>

        <div class="col col-12 no-padding">
          <label for="searchActivenessInput">Activeness</label><br>
          <select class="form-control" formControlName="over" id="searchActivenessInput">
            <option value="">Show all</option>
            <option value="false">Show active only</option>
            <option value="true">Show over only</option>
          </select>
        </div>

        <div class="col col-12 no-padding">
          <label for="searchSortCriteria">Sort by</label><br>
          <select class="form-control" formControlName="sortCriteria" id="searchSortCriteria">
            <option value="">Default</option>
            <option value="name">Name</option>
            <option value="price">Price</option>
            <option value="numberOfBids">Number of bids</option>
          </select>
        </div>

        <div class="col col-12 no-padding">
          <label for="searchSortStyle">Sort style</label><br>
          <select class="form-control" formControlName="sortStyle" id="searchSortStyle">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
          </select>
        </div>

        <!--<div class="col col-6 two-part-row-group-item">
          <label for="searchMinimumPrice">Minimum price</label>
        </div>

        <div class="col col-6 two-part-row-group-item">
          <label for="searchMaximumPrice">Maximum price</label>
        </div>-->

        <div class="col col-12 no-padding">
          <label for="searchMinimumPrice">Minimum price</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">€</div>
            </div>
            <input class="form-control" type="number" min="0" formControlName="minimumPrice" id="searchMinimumPrice" value="0">
          </div>
        </div>

        <div class="col col-12 no-padding">
          <label for="searchMaximumPrice">Maximum price</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">€</div>
            </div>
            <input class="form-control" type="number" min="0" formControlName="maximumPrice" id="searchMaximumPrice" value="1000000">
          </div>
        </div>

        <div class="col col-12 no-padding" id="search-filter-button-container">
          <input type="submit" class="btn btn-primary" value="Search">
        </div>

      </div>
    </form>
  </div>
</div>
