<div class="item-search">
  <div class="item-search-heading">
    Search filters
  </div>
  <div class="item-search-body">
    <form [formGroup]="filterForm" (ngSubmit)="handleSearch()">
      <div class="row no-margin">

        <div class="col col-12 no-padding">
          <label for="searchName">Name</label><br>
          <input type="text" class="form-control" formControlName="name" id="searchName">
        </div>

        <div class="col col-12 no-padding">
          <label for="searchCategory">Category</label><br>
          <select class="form-control" formControlName="category" id="searchCategory">
            <option value="" selected>All</option>

            <option *ngFor="let category of categories$" value="{{ category.id }}">
              {{ category.name }}
            </option>
          </select>
        </div>

        <div class="col col-12 no-padding">
          <label for="searchSortCriteria">Sort by</label><br>
          <select class="form-control" formControlName="sortCriteria" id="searchSortCriteria">
            <option value="">Default</option>
            <option value="name">Name</option>
            <option value="startingPrice">Price</option>
            <option value="numberOfBids">Number of bids</option>
          </select>
        </div>

        <div class="col col-12 no-padding">
          <label for="searchSortStyle">Sort style</label><br>
          <select class="form-control" formControlName="sortStyle" id="searchSortStyle">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
          </select>
        </div>

        <div class="col col-6 two-part-row-group-item">
          <label for="searchMinimumPrice">Minimum price</label>
        </div>

        <div class="col col-6 two-part-row-group-item">
          <label for="searchMinimumPrice">Maximum price</label>
        </div>

        <div class="col col-6 two-part-row-group-item">
          <input class="form-control" type="number" min="0" formControlName="minimumPrice" id="searchMinimumPrice" value="0">
        </div>

        <div class="col col-6 two-part-row-group-item">
          <input class="form-control" type="number" min="0" formControlName="maximumPrice" id="searchMinimumPrice" value="1000000">
        </div>

        <div class="col col-6 two-part-row-group-item">
          <label for="searchItemsPerPage">Items per page</label>
        </div>

        <div class="col col-6 two-part-row-group-item">
          <label for="searchPageNumber">Page</label>
        </div>

        <div class="col col-6 two-part-row-group-item">
          <select class="form-control" formControlName="itemsPerPage" id="searchItemsPerPage">
            <option *ngFor="let pageSize of avaliablePageSizes" value="{{ pageSize }}">
              {{ pageSize }}
            </option>
          </select>
        </div>

        <div class="col col-6 two-part-row-group-item">
          <select class="form-control" formControlName="pageNumber" id="searchPageNumber">
            <option *ngFor="let tmp of range(maxPages); let i = index" value="{{ i }}">
              {{ i }}
            </option>
          </select>
        </div>

        <div class="col col-12 no-padding" id="search-filter-button-container">
          <input type="submit" class="btn btn-primary" value="Search">
        </div>

      </div>
    </form>
  </div>
</div>
