<ul class="timeline">
  <li>
    <div class="timeline-badge"><i class="material-icons">post_add</i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Post your product</h4>
      </div>
      <div class="timeline-body">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut ex necessitatibus atque, quisquam porro minima inventore culpa fugit nulla voluptatum voluptas dicta, tenetur minus impedit vel perspiciatis beatae? Voluptatem, eligendi?</p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge warning"><i class="material-icons">hourglass_empty</i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Wait for a perfect offer</h4>
      </div>
      <div class="timeline-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nesciunt temporibus numquam rerum officiis, totam natus ipsam ducimus deserunt dolores doloribus, labore sequi quod non accusantium repudiandae tempora est doloremque?</p>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge"><i class="material-icons">attach_money</i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Make profit</h4>
      </div>
      <div class="timeline-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur sapiente beatae dolorem quisquam fugit atque molestias vero quos, ad explicabo facilis porro commodi libero veritatis ducimus, neque, velit repellendus aut.</p>
      </div>
    </div>
  </li>
</ul>