<div class="chat-messages active" id="chat-container">
  <div class="chat-popup" id="chat-control-section">
    <div class="inner-container">
      <i class="material-icons">
        message
      </i>
    </div>
    <!--<i class="material-icons">
      clear
    </i>-->
  </div>

  <div id="chat-context-box">
    <div class="row" style="height: 100%; margin: 0;">
      <div class="col col-4 no-padding chat-faces">
        
        <app-chat-face-list></app-chat-face-list>

      </div>
      <div class="col col-8 no-padding">

        <app-chat-content></app-chat-content>

      </div>
    </div>
  </div>
</div>
